.customers-container {
  margin: 100px 15px;
}

.customers-subcontainer {
  font-family: 'Raleway', sans-serif;
  width: 1170px;
  margin: 0 auto;
}

.customers-subcontainer h2 {
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.customers-subcontainer__separator {
  width: 170px;
  border: 0.5px solid #EC7979;
  margin: 0 auto 40px;
}

.customers-subcontainer__text {
  font-weight: 400;
  font-size: 18px;
  color: #86878B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 83px;
}

.customers-subcontainer__articles {
  display: flex;
  justify-content: space-between;
}

.customers-subcontainer__speech {
  width: 370px;
  height: 180px;
  background: #E2E2E2;
  border-radius: 10px;
  color: #86878B;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.customers-subcontainer__polygon {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
  position: relative;
  left: 70px;
}

.customers-subcontainer__preview {
  display: flex;
  justify-content: flex-start;
  margin-top: 46px;
}

.customers-subcontainer__personal-info {
  margin-left: 30px;
}

.customers-subcontainer div img {
  width: 70px;
  height: 70px;
}

.customers-subcontainer__personal-info h4 {
  font-style: 'Open Sans', sans-serif;
  height: 54px;
  line-height: 54px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}

.customers-subcontainer__personal-info h5 {
  font-weight: 400;
  height: 21px;
  line-height: 21px;
  font-size: 18px;
}

@media screen and (max-width: 1023px) {

  .customers-container {
    margin: 100px 0;
  }

  .customers-subcontainer {
    width: 992px;
    height: 509px;
  }

  .customers-subcontainer h2 {
    height: 120px;
    line-height: 120px;
    font-size: 24px;
  }

  .customers-subcontainer__separator {
    width: 142px;
    margin: 0 auto 32px;
  }

  .customers-subcontainer__text {
    font-size: 14px;
    margin-bottom: 32px;
  }

  .customers-subcontainer__speech {
    width: 317px;
    height: 180px;
    font-size: 14px;
  }

  .customers-subcontainer__polygon {
    border-left: 12.85px solid transparent;
    border-right: 12.85px solid transparent;
    left: calc(75.97px - 16px);
  }

  .customers-subcontainer__personal-info {
    margin-left: 20px;
  }

  .customers-subcontainer div img {
    width: 63px;
    height: 63px;
  }

  .customers-subcontainer__personal-info h4 {
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    margin-bottom: 9px;
  }

  .customers-subcontainer__personal-info h5 {
    height: 16px;
    line-height: 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {

  .customers-container {
    margin: 100px 0;
  }

  .customers-subcontainer {
    width: 288px;
    height: 548.49px;
  }

  .customers-subcontainer h2 {
    line-height: 28.18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .customers-subcontainer__separator {
    width: 134px;
    margin: 0 auto 24px;
  }

  .customers-subcontainer__text {
    margin-bottom: 24px;
    text-align: center;
  }

  .customers-subcontainer__articles article:not(:nth-child(2)) {
    display: none;
  }

  .customers-subcontainer__speech {
    width: 288px;
    height: 180px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .customers-subcontainer__polygon {
    border-left: 12.77px solid transparent;
    border-right: 12.77px solid transparent;
    left: calc(62.59px - 16px);
  }

  .customers-subcontainer div img {
    width: 57px;
    height: 57px;
  }

  .customers-subcontainer__personal-info h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .customers-subcontainer__personal-info h5 {
    height: 15px;
    line-height: 15px;
    font-size: 13px;
  }

  .customers-subcontainer__dots {
    width: 129.49px;
    height: 9.49px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;
  }

  .customers-subcontainer__dots div {
    width: 9.49px;
    height: 9.49px;
    border: 0.5px solid #86878B;
    border-radius: 50%;
  }

  .customers-subcontainer__dots div:nth-child(2) {
    background: #86878B;
  }
}